<div class="grid__item one-whole margin-normal">
  <div id="locality-name-locality-show">
    <h1><%= @locality.name %></h1>
  </div>
</div>
<div class="grid__item one-half">
  <div id="locality-chart-position-locality-show">
    <span>0th</span> in chart
  </div>
</div>
<div class="grid__item one-half">
  <div id="locality-tag-list-locality-show">
    <span>tag</span> list
  </div>
</div>