<li class="grid <%= chart_class_item %>">
  <div class="grid__item one-twelfth">
    <%= index + 1 %>.
  </div>
  <div class="grid__item chart-item-love-hate one-twelfth">
    0 / 0
  </div>
  <h1 class="grid__item chart-item-name five-twelfths">
    <%= tag.name %>
  </h1>
  <div class="grid__item chart-item-places five-twelfths">
    there are no one places with this tag
  </div>
</li>