@import "variables";

/*------------------------------------*\
    BASICS
\*------------------------------------*/

body {
  
}
html {
  
}
p {
 
}
a {
  &:link {
    color: $color-site-dark;
  }
  &:visited {
    color: $color-site-dark;
  }
  &:hover {
    color: $color-site-dark;
  }
  &:active {
    color: $color-site-dark;
  }
}
button {
  background: #fff;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 25px;
  height: 25px;
  width: auto;
  overflow: visible;
}
header, footer, nav {
  height: 50px;
}
form {
  display: inline;
}
input.submit-like-dislike-icon {
  margin: 0;
  padding: 0;
  display: inline-block;
  border: 0;
  background: none;
  cursor: pointer;
  font: inherit;
  text-decoration: underline;
}

/*------------------------------------*\
    FONTS
\*------------------------------------*/

// line height 25px
// h1 size 50px
// font-size 16px
// button font size 25px

body {
  font-family: 'Abel', helvetica;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: $color-site-dark;
  margin: 14px 25px;
}
h1, h2, h3, h4, h5, h6, {
  font-family: 'Medula One', garamond;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 50px;
}
ul {
  margin: 0;
  list-style: none;
}
button {
  font-family: 'Squada One', helvetica;
}

/*------------------------------------*\
    BRICKS
\*------------------------------------*/

.margin-normal {
  margin-bottom: 25px;
}

.margin-double {
  margin-bottom: 50px;
}
.chart-top-item {
  border-bottom: 1px solid $color-site-dark;
  line-height: 75px;
  > h1 {
    font-family: "Abel";
    font-size: 25px;
    text-transform: uppercase;
  }
}
.chart-item {
  border-bottom: 1px solid $color-site-dark;
  line-height: 25px;
  > h1 {
    font-family: "Abel";
    font-size: 16px;
    text-transform: uppercase;
  }
}

/*------------------------------------*\
    HEADER, NAV, FOOTER
\*------------------------------------*/

/*------------------------------------*\
    FULLSCREEN BACKGROUND
\*------------------------------------*/

#bg-fullscreen {
  z-index: -1;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }
}

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

nav {
  text-align: right;
}
#user-image {
  height: 50px;
  width: 50px;
}
#user-subblock {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
}
#logo-facebook {
  height: 29px;
  width: 29px;
  margin: 10px 0 11px 0;
}


/*------------------------------------*\
    DROP DOWN MENU (NAVIGATION)
\*------------------------------------*/

.wrapper-dropdown {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrapper-dropdown:after {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
}

.wrapper-dropdown .dropdown {
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,0.2);
  list-style: none;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
}

.wrapper-dropdown .dropdown li a {
      display: block;
      text-decoration: none;
      color: #051E28;
      height: 50px;
      line-height: 50px;
}

/* Hover and Focus state */

.wrapper-dropdown .dropdown li:hover {
  background: rgba(255,255,255,0.9);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  > a {
    color: #E6233C;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

.wrapper-dropdown:focus .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}