/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

$color-site-dark: #051E28;
$color-site-dark-alt: lighten(#051E28, 10%);
$color-site-grey: #F0F0F0;
$color-site-colorful: #E6233C;