<%= form_for @locality, remote: true do |f| %>
  <div class="grid">
    <div class="grid__item one-half">
    <%= f.submit "Hantagace", class: "submit-titleize-button" %> <%= link_to "BACK", "#", class: "md-close font-large uppercase margin-left-normal" %>
    </div>
    <div class="grid__item one-half">
    <%= f.text_field :tag_tokens, data: {load: @locality.tags}, id: "locality_tag_tokens_#{@locality.name}" %>
    </div>
  </div>
<% end %>
